header {
    background-color: #db3779; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #db3779 , #31446d);
    color: #fff;
    padding: 5px 0px;
    .container-header{
        .header-main{
            display: flex;
            .header-left{
                width: 60%;
                display: flex;
                .categories-dropdown{
                    text-transform: uppercase;
                    font-size: 120%;
                    font-weight: 300;
                }
                .dropdown-menu{
                    margin: 0px;
                    padding: 0px;
                    .btn-dropdown{
                        padding: 5px 100px 5px 40px;
                        border-bottom: 1px solid #f0f0f0;
                    }
                    #grad-seemore{
                        background-color: #925970; /* For browsers that do not support gradients */
                        background-image: linear-gradient(to right, #db3779 , #31446d);
                        color: white;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: 8px 0px;
                        margin: 25px 0px 5px;
                        font-weight: 300;
                        text-transform: uppercase;
                        i{
                            color: #AB5971;
                        }
                    }
                }
                .header-left-adress{
                    a{
                        i{
                            background-color: #fff;
                            padding: 10px 12px;
                            border-radius: 100%;
                            color: #ff0000;
                        }
                    }
                }
                .header-left-dropdown{
                    .categories-dropdown{
                        text-transform: unset;
                        font-size: 110%;
                    }
                }
            }
            
            .header-right{
                width: 40%;
                float: right;
                .header-right-dropdown{
                    display: inline;
                    .categories-dropdown{
                        text-transform: uppercase;
                        font-size: 120%;
                        font-weight: 300;
                        color: #fff;
                    }
                }
            }
        }  
    }
}

.content{
    background-color: #F4F4F4;
    padding: 30px 0px 100px;
    position: relative;
    .container{
        .row-post{
            .post-large{
                .fix-size-post-large{
                    .img-large{
                        position: relative;
                        img{
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                        }
                        .img-overlay{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            span{
                                font-size: 400%;
                                font-weight: 900;
                                color: rgba(0, 0, 0, 0.5);
                                -webkit-text-stroke-width: 1px;
                                -webkit-text-stroke-color: #fff;
                            }
                        }
                    }
                    .star{
                        background-color: #fff;
                        padding: 15px 30px;
                        .star-left{
                            color: #A55971;
                        }
                        .star-right{
                            a{
                                color: #A55971;
                            }
                        }
                    }
                }
            }
            
            .post-medium{
                .breadcrumb-main{
                    display: flex;
                    margin: 0px 0px 30px;
                    background-image: linear-gradient(to right, #F4F4F4 0%, #fff 51%, #F4F4F4 100%);
                    padding: 10px 0px;
                    .menu-ul{
                        background-color: unset;
                        margin: 0px;
                        
                        .menu-li{
                            display: inline;
                            margin: 0px 20px 0px 0px;
                            a{
                                color: #5b5b5f;
                                font-size: 120%;
                                text-decoration: none;
                            }
                        }
                        .active{
                            a{
                                color: #A55971;
                                font-size: 130%;
                                border-bottom: 3px solid #A55971;
                            }
                        }
                    }
                    .breadcrumb-right{
                        .icon-right{
                            a{
                                color: #5b5b5f;
                                padding: 0px 20px;
                                font-size: 120%;
                            }
                        }
                        .button-right{
                            button{
                                background-color: #A55971;
                                border: unset;
                                padding: 5px 30px;
                                margin: 0px 20px;
                                a{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .content-medium{
                    display: flex;
                    .title-post-medium-left{
                        width: 100%;
                        .title-post-medium-top{
                            position: relative;
                            display: flex;
                            .title-blog{
                                width: 50%;
                                margin: 10% 5%;
                                .title-main{
                                    color: #30446d;
                                    font-size: 200%;
                                    font-weight: 500;
                                }
                                .title-setting{
                                    font-size: 200%;
                                    color:#5b5b5f;
                                }
                            }
                            .background-color{
                                position: absolute;
                                top: 0;
                                right: 0;
                                img{
                                    width: 400px;
                                    height: 400px;
                                    object-fit: cover;
                                    border-radius: 50%;
                                    box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.1);
                                }
                                .img-overlay{
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    text-align: center;
                                    span{
                                        font-size: 400%;
                                        font-weight: 900;
                                        color: rgba(0, 0, 0, 0.5);
                                        -webkit-text-stroke-width: 1px;
                                        -webkit-text-stroke-color: #fff;
                                    }
                                }
                            }
                        }
                        .title-post-medium-bottom{
                            display: flex;
                            .post-medium-left{
                                width: 30%;
                                margin: 0% 15% 0% 5%;
                                .star{
                                    background-color: #fff;
                                    padding: 15px 20px;
                                    .star-left{
                                        color: #A55971;
                                    }
                                    .star-right{
                                        a{
                                            color: #A55971;
                                        }
                                    }
                                }
                                .img-large{
                                    position: relative;
                                    img{
                                        width: 100%;
                                        height: 330px;
                                        object-fit: cover;
                                    }
                                    .img-overlay{
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%, -50%);
                                        text-align: center;
                                        span{
                                            font-size: 400%;
                                            font-weight: 900;
                                            color: rgba(0, 0, 0, 0.5);
                                            -webkit-text-stroke-width: 1px;
                                            -webkit-text-stroke-color: #fff;
                                        }
                                    }
                                }
                                
                            }
                            .post-medium-right{
                                width: 50%;
                                position: relative;
                                .post-medium-right-content{
                                    width: 100%;
                                    .star{
                                        color: #A55971;
                                    }
                                    .background-color{
                                        background-color: #fff;
                                        padding: 10px 20px;
                                        border-left: 15px solid #A55971;
                                        box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.1);
                                        p{
                                            margin: 0px;
                                        }
                                        .title{
                                            color: #A55971;
                                            font-size: 120%
                                        }
                                        .type-product{
                                            p{
                                                color: #808083;
                                                font-size: 120%;
                                            }
                                            .star-right{
                                                i{
                                                    color: #A55971;
                                                }
                                            }
                                        }
                                    }
                                    .next-previous {
                                        position: absolute;
                                        bottom: 0;
                                        a{
                                            color: #808083;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // .title-post-medium-right{
                    //     width: 50%;

                    // }
                }
            }
        }
    }
    .content-logo{
        position: absolute;
        right: 10px;
        top: 10%;
        .img-logo{
            width: 100%;
        }
        .icon-content{
            text-align: center;
            a{
                color: #A55971;
                display: block;
                padding: 10px 0px;
                font-size: 140%;
            }
        }
        .language{
            p{
                transform: rotate(-90deg);
                .vni{
                    color: #A55971;
                    font-size: 120%;
                    text-transform: uppercase;
                }
                .eng{
                    text-transform: uppercase;
                    font-size: 120%;
                    color: #5b5b5f;
                }
            }
        }
        .sign-in{
            padding-top: 110px;
            p{
                transform: rotate(-90deg);
                background-image: linear-gradient(to right, #db3779, #31446d);
                text-align: center;
                padding: 8px 0px;
                margin: 0px;
                border-radius: 5px;
                a{
                    color: #fff;
                    font-size: 110%;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }
}

