header {
  background-color: #db3779;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #db3779, #31446d);
  color: #fff;
  padding: 5px 0px; }
  header .container-header .header-main {
    display: flex; }
    header .container-header .header-main .header-left {
      width: 60%;
      display: flex; }
      header .container-header .header-main .header-left .categories-dropdown {
        text-transform: uppercase;
        font-size: 120%;
        font-weight: 300;
        color: #fff; }
      header .container-header .header-main .header-left .dropdown-menu {
        margin: 0px;
        padding: 0px; }
        header .container-header .header-main .header-left .dropdown-menu .btn-dropdown {
          padding: 5px 100px 5px 40px;
          border-bottom: 1px solid #f0f0f0; }
        header .container-header .header-main .header-left .dropdown-menu #grad-seemore {
          background-color: #925970;
          /* For browsers that do not support gradients */
          background-image: linear-gradient(to right, #db3779, #31446d);
          color: white;
          font-size: 1.1rem;
          text-align: center;
          padding: 8px 0px;
          margin: 25px 0px 5px;
          font-weight: 300;
          text-transform: uppercase; }
          header .container-header .header-main .header-left .dropdown-menu #grad-seemore i {
            color: #AB5971; }
      header .container-header .header-main .header-left .header-left-adress a i {
        background-color: #fff;
        padding: 10px 12px;
        border-radius: 100%;
        color: #ff0000; }
      header .container-header .header-main .header-left .header-left-dropdown .categories-dropdown {
        text-transform: unset;
        font-size: 110%;
        color: #fff; }
    header .container-header .header-main .header-right {
      width: 40%;
      float: right; }
      header .container-header .header-main .header-right .header-right-dropdown {
        display: inline; }
        header .container-header .header-main .header-right .header-right-dropdown .categories-dropdown {
          text-transform: uppercase;
          font-size: 120%;
          font-weight: 300;
          color: #fff; }

.content {
  background-color: #F4F4F4;
  padding: 30px 0px 100px;
  position: relative; }
  .content .container .breadcrumb-main {
    display: flex;
    margin: 0px 0px 30px;
    background-image: linear-gradient(to right, #F4F4F4 0%, #fff 51%, #F4F4F4 100%);
    padding: 10px 0px; }
    .content .container .breadcrumb-main .breadcrumb {
      background-color: unset;
      font-size: 1.2rem;
      margin: 0px;
      padding: 0px; }
      .content .container .breadcrumb-main .breadcrumb .navigate-menu a {
        color: #A55971;
        font-size: 110%; }
      .content .container .breadcrumb-main .breadcrumb .active a {
        color: #5b5b5f; }
    .content .container .breadcrumb-main .breadcrumb-right .icon-right a {
      color: #5b5b5f;
      padding: 0px 20px;
      font-size: 120%; }
    .content .container .breadcrumb-main .breadcrumb-right .button-right button {
      background-color: #A55971;
      border: unset;
      padding: 5px 30px;
      margin: 0px 20px; }
      .content .container .breadcrumb-main .breadcrumb-right .button-right button a {
        color: #fff; }
  .content .container .row-post .post-large .fix-size-post-large {
    padding: 0px 70px 0px 0px; }
    .content .container .row-post .post-large .fix-size-post-large .title {
      background-color: #fff;
      padding: 10px 0px; }
      .content .container .row-post .post-large .fix-size-post-large .title p {
        color: #A55971;
        text-align: center;
        margin: 0px;
        font-size: 120%;
        font-weight: 500;
        text-transform: uppercase; }
    .content .container .row-post .post-large .fix-size-post-large .img-large {
      position: relative; }
      .content .container .row-post .post-large .fix-size-post-large .img-large img {
        width: 100%;
        height: 650px;
        object-fit: cover; }
      .content .container .row-post .post-large .fix-size-post-large .img-large .img-overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        .content .container .row-post .post-large .fix-size-post-large .img-large .img-overlay span {
          font-size: 400%;
          font-weight: 900;
          color: rgba(0, 0, 0, 0.5);
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #fff; }
    .content .container .row-post .post-large .fix-size-post-large .star {
      background-color: #fff;
      padding: 15px 30px; }
      .content .container .row-post .post-large .fix-size-post-large .star .star-left {
        color: #A55971; }
      .content .container .row-post .post-large .fix-size-post-large .star .star-right a {
        color: #A55971; }
  .content .container .row-post .post-medium .fix-content-medium {
    position: relative;
    height: 100%; }
    .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium {
      display: flex; }
      .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-left {
        width: 35%;
        margin-right: 2%; }
        .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-left .img-large {
          position: relative; }
          .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-left .img-large img {
            width: 100%;
            height: 380px;
            object-fit: cover; }
          .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-left .img-large .img-overlay {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
            .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-left .img-large .img-overlay span {
              font-size: 400%;
              font-weight: 900;
              color: rgba(0, 0, 0, 0.5);
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: #fff; }
        .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-left .star {
          background-color: #fff;
          padding: 15px 20px; }
          .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-left .star .star-left {
            color: #A55971; }
          .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-left .star .star-right a {
            color: #A55971; }
      .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-right {
        width: 63%; }
        .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-right .background-color {
          background-color: #fff;
          width: 100%;
          padding: 10px 20px;
          border-left: 15px solid #A55971;
          box-shadow: 30px 30px 30px 0px rgba(0, 0, 0, 0.1); }
          .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-right .background-color p {
            margin: 0px; }
          .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-right .background-color .title {
            color: #A55971;
            font-size: 120%; }
          .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-right .background-color .star {
            color: #A55971; }
          .content .container .row-post .post-medium .fix-content-medium .fix-size-post-medium .post-medium-right .background-color .buy-now a {
            color: #5b5b5f; }
    .content .container .row-post .post-medium .fix-content-medium .post-medium-position {
      position: absolute;
      bottom: 0;
      width: 100%; }
      .content .container .row-post .post-medium .fix-content-medium .post-medium-position .post-medium-left .img-large img {
        height: 210px; }
  .content .content-logo {
    position: absolute;
    right: 10px;
    top: 10%; }
    .content .content-logo .img-logo {
      width: 100%; }
    .content .content-logo .icon-content {
      text-align: center; }
      .content .content-logo .icon-content a {
        color: #A55971;
        display: block;
        padding: 10px 0px;
        font-size: 140%; }
    .content .content-logo .language p {
      transform: rotate(-90deg); }
      .content .content-logo .language p .vni {
        color: #A55971;
        font-size: 120%;
        text-transform: uppercase; }
      .content .content-logo .language p .eng {
        text-transform: uppercase;
        font-size: 120%;
        color: #5b5b5f; }
    .content .content-logo .sign-in {
      padding-top: 110px; }
      .content .content-logo .sign-in p {
        transform: rotate(-90deg);
        background-image: linear-gradient(to right, #db3779, #31446d);
        text-align: center;
        padding: 8px 0px;
        margin: 0px;
        border-radius: 5px; }
        .content .content-logo .sign-in p a {
          color: #fff;
          font-size: 110%;
          font-weight: 500;
          text-decoration: none; }

/*# sourceMappingURL=category.css.map */
