header {
  background-color: #db3779;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #db3779, #31446d);
  color: #fff;
  padding: 5px 0px; }
  header .container-header .header-main {
    display: flex; }
    header .container-header .header-main .header-left {
      width: 60%;
      display: flex; }
      header .container-header .header-main .header-left .categories-dropdown {
        text-transform: uppercase;
        font-size: 120%;
        font-weight: 300; }
      header .container-header .header-main .header-left .dropdown-menu {
        margin: 0px;
        padding: 0px; }
        header .container-header .header-main .header-left .dropdown-menu .btn-dropdown {
          padding: 5px 100px 5px 40px;
          border-bottom: 1px solid #f0f0f0; }
        header .container-header .header-main .header-left .dropdown-menu #grad-seemore {
          background-color: #925970;
          /* For browsers that do not support gradients */
          background-image: linear-gradient(to right, #db3779, #31446d);
          color: white;
          font-size: 1.1rem;
          text-align: center;
          padding: 8px 0px;
          margin: 25px 0px 5px;
          font-weight: 300;
          text-transform: uppercase; }
          header .container-header .header-main .header-left .dropdown-menu #grad-seemore i {
            color: #AB5971; }
    header .container-header .header-main .header-right {
      width: 40%;
      float: right; }
      header .container-header .header-main .header-right .header-right-dropdown {
        display: inline; }
        header .container-header .header-main .header-right .header-right-dropdown .categories-dropdown {
          text-transform: uppercase;
          font-size: 120%;
          font-weight: 300;
          color: #fff; }

.content {
  background-color: #F4F4F4;
  padding: 30px 0px 300px;
  position: relative; }
  .content .container .row .col-content .title-main {
    font-size: 300%;
    font-weight: 300;
    text-align: center; }
  .content .container .row .col-content .content-main {
    width: 80%;
    float: right;
    margin-top: 50px; }
    .content .container .row .col-content .content-main .infor-yourself {
      font-size: 130%;
      font-weight: 500; }
    .content .container .row .col-content .content-main .form-content .form-main {
      display: flex; }
      .content .container .row .col-content .content-main .form-content .form-main .form-left {
        width: 50%;
        margin-right: 5%; }
        .content .container .row .col-content .content-main .form-content .form-main .form-left .form-check .form-check-label {
          font-weight: 500; }
        .content .container .row .col-content .content-main .form-content .form-main .form-left .form-group label {
          color: #5b5b5f; }
        .content .container .row .col-content .content-main .form-content .form-main .form-left .form-group .form-control::placeholder {
          font-style: italic; }
      .content .container .row .col-content .content-main .form-content .form-main .form-right {
        width: 50%; }
        .content .container .row .col-content .content-main .form-content .form-main .form-right .form-check .form-check-label {
          font-weight: 500; }
        .content .container .row .col-content .content-main .form-content .form-main .form-right .form-group label {
          color: #5b5b5f; }
        .content .container .row .col-content .content-main .form-content .form-main .form-right .form-group .form-control::placeholder {
          font-style: italic; }
        .content .container .row .col-content .content-main .form-content .form-main .form-right .sign-up {
          background-image: linear-gradient(to right, #db3779, #31446d);
          color: white;
          text-align: center;
          padding: 7px 50px;
          font-weight: 500;
          border-radius: 5px;
          float: right;
          text-decoration: none; }
    .content .container .row .col-content .content-main .sign-in-social {
      margin-top: 30px; }
    .content .container .row .col-content .content-main .sign-in-social-button .facebook {
      padding: 10px 100px;
      background-color: #2467B6;
      color: #fff;
      border-radius: 50px;
      text-decoration: none; }
    .content .container .row .col-content .content-main .sign-in-social-button .google {
      padding: 10px 50px;
      background-color: #FB6B6B;
      color: #fff;
      border-radius: 50px;
      text-decoration: none; }
  .content .content-logo {
    position: absolute;
    right: 10px;
    top: 10%; }
    .content .content-logo .img-logo {
      width: 100%; }
    .content .content-logo .icon-content {
      text-align: center; }
      .content .content-logo .icon-content a {
        color: #A55971;
        display: block;
        padding: 10px 0px;
        font-size: 140%; }
    .content .content-logo .language p {
      transform: rotate(-90deg); }
      .content .content-logo .language p .vni {
        color: #A55971;
        font-size: 120%;
        text-transform: uppercase; }
      .content .content-logo .language p .eng {
        text-transform: uppercase;
        font-size: 120%;
        color: #5b5b5f; }
    .content .content-logo .sign-in {
      padding-top: 110px; }
      .content .content-logo .sign-in p {
        transform: rotate(-90deg);
        background-image: linear-gradient(to right, #db3779, #31446d);
        text-align: center;
        padding: 8px 0px;
        margin: 0px;
        border-radius: 5px; }
        .content .content-logo .sign-in p a {
          color: #fff;
          font-size: 110%;
          font-weight: 500;
          text-decoration: none; }

/*# sourceMappingURL=finddesign.css.map */
