header {
  background-color: #db3779;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #db3779, #31446d);
  color: #fff;
  padding: 5px 0px; }
  header .container-header .header-main {
    display: flex; }
    header .container-header .header-main .header-left {
      width: 60%;
      display: flex; }
      header .container-header .header-main .header-left .categories-dropdown {
        text-transform: uppercase;
        font-size: 120%;
        font-weight: 300; }
      header .container-header .header-main .header-left .dropdown-menu {
        margin: 0px;
        padding: 0px; }
        header .container-header .header-main .header-left .dropdown-menu .btn-dropdown {
          padding: 5px 100px 5px 40px;
          border-bottom: 1px solid #f0f0f0; }
        header .container-header .header-main .header-left .dropdown-menu #grad-seemore {
          background-color: #925970;
          /* For browsers that do not support gradients */
          background-image: linear-gradient(to right, #db3779, #31446d);
          color: white;
          font-size: 1.1rem;
          text-align: center;
          padding: 8px 0px;
          margin: 25px 0px 5px;
          font-weight: 300;
          text-transform: uppercase; }
          header .container-header .header-main .header-left .dropdown-menu #grad-seemore i {
            color: #AB5971; }
    header .container-header .header-main .header-right {
      width: 40%;
      float: right; }
      header .container-header .header-main .header-right .header-right-dropdown {
        display: inline; }
        header .container-header .header-main .header-right .header-right-dropdown .categories-dropdown {
          text-transform: uppercase;
          font-size: 120%;
          font-weight: 300;
          color: #fff; }

.content {
  background-color: #F4F4F4;
  padding: 30px 0px 300px;
  position: relative; }
  .content .container .row .col-content {
    padding-left: 10%; }
    .content .container .row .col-content .title-main {
      font-size: 150%;
      font-weight: 600;
      margin: 0px; }
    .content .container .row .col-content .content-main .form-content {
      position: relative; }
      .content .container .row .col-content .content-main .form-content .form-textarea-main {
        position: relative; }
        .content .container .row .col-content .content-main .form-content .form-textarea-main .form-textarea {
          width: 100%;
          border-radius: 5px;
          border: 1px solid #cccccf;
          height: 150px;
          text-indent: 10px;
          outline: 0; }
        .content .container .row .col-content .content-main .form-content .form-textarea-main .fa-undo-alt {
          position: absolute;
          right: 10px;
          bottom: 15px;
          transform: rotate(180deg);
          background-color: #00C092;
          border-radius: 50%;
          padding: 5px;
          color: #fff; }
      .content .container .row .col-content .content-main .form-content .form-select-file {
        float: left; }
        .content .container .row .col-content .content-main .form-content .form-select-file .form-control-file {
          background-color: unset;
          border: 0;
          outline: 0;
          color: #458bd1;
          padding: 0px; }
      .content .container .row .col-content .content-main .form-content .fix-width {
        width: 50%; }
        .content .container .row .col-content .content-main .form-content .fix-width .form-skill label {
          font-size: 110%; }
        .content .container .row .col-content .content-main .form-content .fix-width .form-skill .form-control {
          outline: 0; }
        .content .container .row .col-content .content-main .form-content .fix-width .form-deadline label {
          font-size: 110%; }
        .content .container .row .col-content .content-main .form-content .fix-width .form-deadline .form-control {
          outline: 0; }
        .content .container .row .col-content .content-main .form-content .fix-width .title-main {
          font-size: 125%; }
      .content .container .row .col-content .content-main .form-content .rules {
        margin-top: 20px;
        padding: 20px;
        position: absolute;
        left: -30px;
        background-color: #F0F0F0; }
        .content .container .row .col-content .content-main .form-content .rules .rules-text {
          font-size: 100%; }
          .content .container .row .col-content .content-main .form-content .rules .rules-text span {
            color: #458bd1; }
        .content .container .row .col-content .content-main .form-content .rules .rules-submit {
          width: 100%;
          background-image: linear-gradient(to right, #db3779, #31446d);
          border: unset;
          color: #fff;
          padding: 10px 0px;
          border-radius: 5px;
          text-align: center;
          text-decoration: none; }
  .content .content-logo {
    position: absolute;
    right: 10px;
    top: 10%; }
    .content .content-logo .img-logo {
      width: 100%; }
    .content .content-logo .icon-content {
      text-align: center; }
      .content .content-logo .icon-content a {
        color: #A55971;
        display: block;
        padding: 10px 0px;
        font-size: 140%; }
    .content .content-logo .language p {
      transform: rotate(-90deg); }
      .content .content-logo .language p .vni {
        color: #A55971;
        font-size: 120%;
        text-transform: uppercase; }
      .content .content-logo .language p .eng {
        text-transform: uppercase;
        font-size: 120%;
        color: #5b5b5f; }
    .content .content-logo .sign-in {
      padding-top: 110px; }
      .content .content-logo .sign-in p {
        transform: rotate(-90deg);
        background-image: linear-gradient(to right, #db3779, #31446d);
        text-align: center;
        padding: 8px 0px;
        margin: 0px;
        border-radius: 5px; }
        .content .content-logo .sign-in p a {
          color: #fff;
          font-size: 110%;
          font-weight: 500;
          text-decoration: none; }

/*# sourceMappingURL=hiring.css.map */
