header {
    background-color: #db3779; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #db3779 , #31446d);
    color: #fff;
    padding: 5px 0px;
    .container-header{
        .header-main{
            display: flex;
            .header-left{
                width: 60%;
                display: flex;
                .categories-dropdown{
                    text-transform: uppercase;
                    font-size: 120%;
                    font-weight: 300;
                }
                .dropdown-menu{
                    margin: 0px;
                    padding: 0px;
                    .btn-dropdown{
                        padding: 5px 100px 5px 40px;
                        border-bottom: 1px solid #f0f0f0;
                    }
                    #grad-seemore{
                        background-color: #925970; /* For browsers that do not support gradients */
                        background-image: linear-gradient(to right, #db3779 , #31446d);
                        color: white;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: 8px 0px;
                        margin: 25px 0px 5px;
                        font-weight: 300;
                        text-transform: uppercase;
                        i{
                            color: #AB5971;
                        }
                    }
                }
            }
            
            .header-right{
                width: 40%;
                float: right;
                .header-right-dropdown{
                    display: inline;
                    .categories-dropdown{
                        text-transform: uppercase;
                        font-size: 120%;
                        font-weight: 300;
                        color: #fff;
                    }
                }
            }
        }  
    }
}

.content{
    background-color: #F4F4F4;
    padding: 30px 0px 300px;
    position: relative;
    .container{
        .row{
            .col-content{
                padding-left: 10%;
                .title-main{
                    font-size: 150%;
                    font-weight: 600;
                    margin: 0px;
                }
                .content-main{
                    .form-content{
                        position: relative;
                        .form-textarea-main{
                            position: relative;
                            .form-textarea{
                                width: 100%;
                                border-radius: 5px;
                                border: 1px solid #cccccf;
                                height: 150px;
                                text-indent: 10px;
                                outline: 0;
                            }
                            .fa-undo-alt{
                                position: absolute;
                                right: 10px;
                                bottom: 15px;
                                transform: rotate(180deg);
                                background-color: #00C092;
                                border-radius: 50%;
                                padding: 5px;
                                color: #fff;
                            }
                        }
                        .form-select-file{
                            float: left;
                            .form-control-file{
                                background-color: unset;
                                border: 0;
                                outline: 0;
                                color:#458bd1;
                                padding: 0px;
                            }
                        }
                        .fix-width{
                            width: 50%;
                            .form-skill{
                                label{
                                    font-size: 110%;
                                }
                                .form-control{
                                    outline: 0;
                                }
                            }
                            .form-deadline{
                                label{
                                    font-size: 110%;
                                }
                                .form-control{
                                    outline: 0;
                                }
                            }
                            .title-main{
                                font-size: 125%;
                            }
                        }
                        .rules{
                            margin-top: 20px;
                            padding: 20px;
                            position: absolute;
                            left: -30px;
                            background-color: #F0F0F0;
                            .rules-text{
                                font-size: 100%;
                                span{
                                    color:#458bd1;
                                }
                            }
                            .rules-submit{
                                width: 100%;
                                background-image: linear-gradient(to right, #db3779 , #31446d);
                                border: unset;
                                color: #fff;
                                padding: 10px 0px;
                                border-radius: 5px;
                                text-align: center;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-logo{
        position: absolute;
        right: 10px;
        top: 10%;
        .img-logo{
            width: 100%;
        }
        .icon-content{
            text-align: center;
            a{
                color: #A55971;
                display: block;
                padding: 10px 0px;
                font-size: 140%;
            }
        }
        .language{
            p{
                transform: rotate(-90deg);
                .vni{
                    color: #A55971;
                    font-size: 120%;
                    text-transform: uppercase;
                }
                .eng{
                    text-transform: uppercase;
                    font-size: 120%;
                    color: #5b5b5f;
                }
            }
        }
        .sign-in{
            padding-top: 110px;
            p{
                transform: rotate(-90deg);
                background-image: linear-gradient(to right, #db3779, #31446d);
                text-align: center;
                padding: 8px 0px;
                margin: 0px;
                border-radius: 5px;
                a{
                    color: #fff;
                    font-size: 110%;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }
}

