body{
    background-image: url(../img/homepage.png);
}
header {
    background-color: #db3779; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #db3779 , #31446d);
    color: #fff;
    padding: 5px 0px;
    .container-header{
        .header-main{
            display: flex;
            .header-left{
                width: 60%;
                .categories-dropdown{
                    text-transform: uppercase;
                    font-size: 120%;
                    font-weight: 300;
                }
                .dropdown-menu{
                    margin: 0px;
                    padding: 0px;
                    .btn-dropdown{
                        padding: 5px 100px 5px 40px;
                        border-bottom: 1px solid #f0f0f0;
                    }
                    #grad-seemore{
                        background-color: #925970; /* For browsers that do not support gradients */
                        background-image: linear-gradient(to right, #925970 , #31446d);
                        color: white;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: 8px 0px;
                        margin: 25px 0px 5px;
                        font-weight: 300;
                        text-transform: uppercase;
                        i{
                            color: #AB5971;
                        }
                    }
                }
            }
            
            .header-right{
                width: 40%;
                float: right;
                .header-right-dropdown{
                    display: inline;
                    .categories-dropdown{
                        text-transform: uppercase;
                        font-size: 120%;
                        font-weight: 300;
                        color: #fff;
                    }
                }
            }
        }  
    }
}

.content{
    position: relative;
    padding: 300px 0px;
    .content-logo{
        position: absolute;
        right: 10px;
        top: 10%;
        .img-logo{
            width: 100%;
        }
        .icon-content{
            text-align: center;
            a{
                color: #A55971;
                display: block;
                padding: 10px 0px;
                font-size: 140%;
            }
        }
        .language{
            p{
                transform: rotate(-90deg);
                .vni{
                    color: #A55971;
                    font-size: 120%;
                    text-transform: uppercase;
                }
                .eng{
                    text-transform: uppercase;
                    font-size: 120%;
                    color: #5b5b5f;
                }
            }
        }
        .sign-in{
            padding-top: 110px;
            p{
                transform: rotate(-90deg);
                background-image: linear-gradient(to right, #db3779, #31446d);
                text-align: center;
                padding: 8px 0px;
                margin: 0px;
                border-radius: 5px;
                a{
                    color: #fff;
                    font-size: 110%;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }
    
}
