body {
  background-image: url(../img/homepage.png); }

header {
  background-color: #db3779;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #db3779, #31446d);
  color: #fff;
  padding: 5px 0px; }
  header .container-header .header-main {
    display: flex; }
    header .container-header .header-main .header-left {
      width: 60%; }
      header .container-header .header-main .header-left .categories-dropdown {
        text-transform: uppercase;
        font-size: 120%;
        font-weight: 300; }
      header .container-header .header-main .header-left .dropdown-menu {
        margin: 0px;
        padding: 0px; }
        header .container-header .header-main .header-left .dropdown-menu .btn-dropdown {
          padding: 5px 100px 5px 40px;
          border-bottom: 1px solid #f0f0f0; }
        header .container-header .header-main .header-left .dropdown-menu #grad-seemore {
          background-color: #925970;
          /* For browsers that do not support gradients */
          background-image: linear-gradient(to right, #925970, #31446d);
          color: white;
          font-size: 1.1rem;
          text-align: center;
          padding: 8px 0px;
          margin: 25px 0px 5px;
          font-weight: 300;
          text-transform: uppercase; }
          header .container-header .header-main .header-left .dropdown-menu #grad-seemore i {
            color: #AB5971; }
    header .container-header .header-main .header-right {
      width: 40%;
      float: right; }
      header .container-header .header-main .header-right .header-right-dropdown {
        display: inline; }
        header .container-header .header-main .header-right .header-right-dropdown .categories-dropdown {
          text-transform: uppercase;
          font-size: 120%;
          font-weight: 300;
          color: #fff; }

.content {
  position: relative;
  padding: 300px 0px; }
  .content .content-logo {
    position: absolute;
    right: 10px;
    top: 10%; }
    .content .content-logo .img-logo {
      width: 100%; }
    .content .content-logo .icon-content {
      text-align: center; }
      .content .content-logo .icon-content a {
        color: #A55971;
        display: block;
        padding: 10px 0px;
        font-size: 140%; }
    .content .content-logo .language p {
      transform: rotate(-90deg); }
      .content .content-logo .language p .vni {
        color: #A55971;
        font-size: 120%;
        text-transform: uppercase; }
      .content .content-logo .language p .eng {
        text-transform: uppercase;
        font-size: 120%;
        color: #5b5b5f; }
    .content .content-logo .sign-in {
      padding-top: 110px; }
      .content .content-logo .sign-in p {
        transform: rotate(-90deg);
        background-image: linear-gradient(to right, #db3779, #31446d);
        text-align: center;
        padding: 8px 0px;
        margin: 0px;
        border-radius: 5px; }
        .content .content-logo .sign-in p a {
          color: #fff;
          font-size: 110%;
          font-weight: 500;
          text-decoration: none; }

/*# sourceMappingURL=home.css.map */
