body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    
}
.container, .row{
    max-width: 1250px !important;
}   