header {
    background-color: #db3779; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #db3779 , #31446d);
    color: #fff;
    padding: 5px 0px;
    .container-header{
        .header-main{
            display: flex;
            .header-left{
                width: 60%;
                display: flex;
                .categories-dropdown{
                    text-transform: uppercase;
                    font-size: 120%;
                    font-weight: 300;
                }
                .dropdown-menu{
                    margin: 0px;
                    padding: 0px;
                    .btn-dropdown{
                        padding: 5px 100px 5px 40px;
                        border-bottom: 1px solid #f0f0f0;
                    }
                    #grad-seemore{
                        background-color: #925970; /* For browsers that do not support gradients */
                        background-image: linear-gradient(to right, #db3779 , #31446d);
                        color: white;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: 8px 0px;
                        margin: 25px 0px 5px;
                        font-weight: 300;
                        text-transform: uppercase;
                        i{
                            color: #AB5971;
                        }
                    }
                }
                .header-left-adress{
                    a{
                        i{
                            background-color: #fff;
                            padding: 10px 12px;
                            border-radius: 100%;
                            color: #ff0000;
                        }
                    }
                }
                .header-left-dropdown{
                    .categories-dropdown{
                        text-transform: unset;
                        font-size: 110%;
                    }
                }
            }
            
            .header-right{
                width: 40%;
                float: right;
                .header-right-dropdown{
                    display: inline;
                    .categories-dropdown{
                        text-transform: uppercase;
                        font-size: 120%;
                        font-weight: 300;
                        color: #fff;
                    }
                }
            }
        }  
    }
}

.content{
    background-color: #F4F4F4;
    padding: 30px 0px 300px;
    position: relative;
    .container{
        .breadcrumb-main{
            display: flex;
            margin: 0px 0px 30px;
            background-image: linear-gradient(to right, #F4F4F4 0%, #fff 51%, #F4F4F4 100%);
            .breadcrumb{
                background-color: unset;
                font-size: 1.2rem;
                margin: 0px;
                .navigate-menu{
                    a{
                        color: #A55971;
                        font-size: 110%;
                    }
                }
                .active{
                    a{
                        color: #5b5b5f;
                    }
                }
            }
            .breadcrumb-right{
                .icon-right{
                    a{
                        color: #5b5b5f;
                        padding: 0px 20px;
                        font-size: 120%;
                    }
                }
                .button-right{
                    button{
                        background-color: #A55971;
                        border: unset;
                        padding: 5px 30px;
                        margin: 0px 20px;
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .row{
            background-color: #fff;
            padding: 70px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
            .col-title{
                p{
                    font-size: 2rem;
                    font-weight: bold;
                    text-align: center;
                    margin: 0px;
                }
            }
            .col-content{
                padding: 0% 7%;
                hr{
                    border: 1px solid #5b5b5f ;
                    margin: 0px;
                }
                p{
                    .bold-large{
                        font-size: 150%;
                        span{
                            color:#40BEB9;  
                        }
                    }
                    span{
                        color:#40BEB9;  
                    }
                }
            }
            .col-img{
                img{
                    width: 100%;
                }
            }
            .col-button{
                margin: 20px 0px 0px;
                button{
                    background-color: #FD5B4E;
                    border: unset;
                    width: 100%;
                    padding: 10px 0px;
                    border-radius: 50px;
                    a{
                        color: white;
                        text-align: center;
                        font-size: 120%;
                        font-weight: 600;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
                button:hover{
                    background-color:#A55971;
                    transition: all 0.5s;
                }
            }
        }
        .row:hover{
            transform: scale(1.02);
            transition: all 0.5s;
            box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6);
        }
    }
    .content-logo{
        position: absolute;
        right: 10px;
        top: 10%;
        .img-logo{
            width: 100%;
        }
        .icon-content{
            text-align: center;
            a{
                color: #A55971;
                display: block;
                padding: 10px 0px;
                font-size: 140%;
            }
        }
        .language{
            p{
                transform: rotate(-90deg);
                .vni{
                    color: #A55971;
                    font-size: 120%;
                    text-transform: uppercase;
                }
                .eng{
                    text-transform: uppercase;
                    font-size: 120%;
                    color: #5b5b5f;
                }
            }
        }
        .sign-in{
            padding-top: 110px;
            p{
                transform: rotate(-90deg);
                background-image: linear-gradient(to right, #db3779, #31446d);
                text-align: center;
                padding: 8px 0px;
                margin: 0px;
                border-radius: 5px;
                a{
                    color: #fff;
                    font-size: 110%;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }   
}

