header {
  background-color: #db3779;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #db3779, #31446d);
  color: #fff;
  padding: 5px 0px; }
  header .container-header .header-main {
    display: flex; }
    header .container-header .header-main .header-left {
      width: 60%;
      display: flex; }
      header .container-header .header-main .header-left .categories-dropdown {
        text-transform: uppercase;
        font-size: 120%;
        font-weight: 300; }
      header .container-header .header-main .header-left .dropdown-menu {
        margin: 0px;
        padding: 0px; }
        header .container-header .header-main .header-left .dropdown-menu .btn-dropdown {
          padding: 5px 100px 5px 40px;
          border-bottom: 1px solid #f0f0f0; }
        header .container-header .header-main .header-left .dropdown-menu #grad-seemore {
          background-color: #925970;
          /* For browsers that do not support gradients */
          background-image: linear-gradient(to right, #db3779, #31446d);
          color: white;
          font-size: 1.1rem;
          text-align: center;
          padding: 8px 0px;
          margin: 25px 0px 5px;
          font-weight: 300;
          text-transform: uppercase; }
          header .container-header .header-main .header-left .dropdown-menu #grad-seemore i {
            color: #AB5971; }
      header .container-header .header-main .header-left .header-left-adress a i {
        background-color: #fff;
        padding: 10px 12px;
        border-radius: 100%;
        color: #ff0000; }
      header .container-header .header-main .header-left .header-left-dropdown .categories-dropdown {
        text-transform: unset;
        font-size: 110%; }
    header .container-header .header-main .header-right {
      width: 40%;
      float: right; }
      header .container-header .header-main .header-right .header-right-dropdown {
        display: inline; }
        header .container-header .header-main .header-right .header-right-dropdown .categories-dropdown {
          text-transform: uppercase;
          font-size: 120%;
          font-weight: 300;
          color: #fff; }

.content {
  background-color: #F4F4F4;
  padding: 30px 0px 300px;
  position: relative; }
  .content .container .breadcrumb-main {
    display: flex;
    margin: 0px 0px 30px;
    background-image: linear-gradient(to right, #F4F4F4 0%, #fff 51%, #F4F4F4 100%); }
    .content .container .breadcrumb-main .breadcrumb {
      background-color: unset;
      font-size: 1.2rem;
      margin: 0px; }
      .content .container .breadcrumb-main .breadcrumb .navigate-menu a {
        color: #A55971;
        font-size: 110%; }
      .content .container .breadcrumb-main .breadcrumb .active a {
        color: #5b5b5f; }
    .content .container .breadcrumb-main .breadcrumb-right .icon-right a {
      color: #5b5b5f;
      padding: 0px 20px;
      font-size: 120%; }
    .content .container .breadcrumb-main .breadcrumb-right .button-right button {
      background-color: #A55971;
      border: unset;
      padding: 5px 30px;
      margin: 0px 20px; }
      .content .container .breadcrumb-main .breadcrumb-right .button-right button a {
        color: #fff; }
  .content .container .row {
    background-color: #fff;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6); }
    .content .container .row .col-title p {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin: 0px; }
    .content .container .row .col-content {
      padding: 0% 7%; }
      .content .container .row .col-content hr {
        border: 1px solid #5b5b5f;
        margin: 0px; }
      .content .container .row .col-content p .bold-large {
        font-size: 150%; }
        .content .container .row .col-content p .bold-large span {
          color: #40BEB9; }
      .content .container .row .col-content p span {
        color: #40BEB9; }
    .content .container .row .col-img img {
      width: 100%; }
    .content .container .row .col-button {
      margin: 20px 0px 0px; }
      .content .container .row .col-button button {
        background-color: #FD5B4E;
        border: unset;
        width: 100%;
        padding: 10px 0px;
        border-radius: 50px; }
        .content .container .row .col-button button a {
          color: white;
          text-align: center;
          font-size: 120%;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none; }
      .content .container .row .col-button button:hover {
        background-color: #A55971;
        transition: all 0.5s; }
  .content .container .row:hover {
    transform: scale(1.02);
    transition: all 0.5s;
    box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6); }
  .content .content-logo {
    position: absolute;
    right: 10px;
    top: 10%; }
    .content .content-logo .img-logo {
      width: 100%; }
    .content .content-logo .icon-content {
      text-align: center; }
      .content .content-logo .icon-content a {
        color: #A55971;
        display: block;
        padding: 10px 0px;
        font-size: 140%; }
    .content .content-logo .language p {
      transform: rotate(-90deg); }
      .content .content-logo .language p .vni {
        color: #A55971;
        font-size: 120%;
        text-transform: uppercase; }
      .content .content-logo .language p .eng {
        text-transform: uppercase;
        font-size: 120%;
        color: #5b5b5f; }
    .content .content-logo .sign-in {
      padding-top: 110px; }
      .content .content-logo .sign-in p {
        transform: rotate(-90deg);
        background-image: linear-gradient(to right, #db3779, #31446d);
        text-align: center;
        padding: 8px 0px;
        margin: 0px;
        border-radius: 5px; }
        .content .content-logo .sign-in p a {
          color: #fff;
          font-size: 110%;
          font-weight: 500;
          text-decoration: none; }

/*# sourceMappingURL=infororder.css.map */
