header {
    background-color: #db3779; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #db3779 , #31446d);
    color: #fff;
    padding: 5px 0px;
    .container-header{
        .header-main{
            display: flex;
            .header-left{
                width: 60%;
                display: flex;
                .categories-dropdown{
                    text-transform: uppercase;
                    font-size: 120%;
                    font-weight: 300;
                }
                .dropdown-menu{
                    margin: 0px;
                    padding: 0px;
                    .btn-dropdown{
                        padding: 5px 100px 5px 40px;
                        border-bottom: 1px solid #f0f0f0;
                    }
                    #grad-seemore{
                        background-color: #925970; /* For browsers that do not support gradients */
                        background-image: linear-gradient(to right, #db3779 , #31446d);
                        color: white;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: 8px 0px;
                        margin: 25px 0px 5px;
                        font-weight: 300;
                        text-transform: uppercase;
                        i{
                            color: #AB5971;
                        }
                    }
                }
            }
            
            .header-right{
                width: 40%;
                float: right;
                .header-right-dropdown{
                    display: inline;
                    .categories-dropdown{
                        text-transform: uppercase;
                        font-size: 120%;
                        font-weight: 300;
                        color: #fff;
                    }
                }
            }
        }  
    }
}

.content{
    background-color: #F4F4F4;
    padding: 0px 0px 300px;
    position: relative;
    .desgin-standy{
        background-image: linear-gradient(to right, #31446d 25% , #db3779);
        margin-bottom: 30px;
        .container-design-standy{
            padding: 30px 0px 15px;
            .desgin-standy-left{
                p{
                    font-size: 200%;
                    font-weight: bold;
                    color:#fff;
                    margin: 0px;
                }
            }
            .desgin-standy-right{
                position: relative;
                .desgin-standy-right-normal{
                    font-size: 120%;
                    font-weight: bold;
                    color:#fff;
                    text-transform: uppercase;
                    margin: 0px;
                    span{
                        font-size: 150%;
                    }
                }
                .desgin-standy-right-absolute{
                    position: absolute;
                    top: -15px;
                    right: 0;
                    background-color: #003F8B;
                    border-radius: 50px;
                    padding: 0px 10px;
                    color: #fff;
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }
    }
    .container{
        .breadcrumb-main{
            .breadcrumb{
                padding: 0px;
                background-color: unset;
                .breadcrumb-item{
                    &::before{
                        display: none;
                    }
                    &::after{
                        display: inline-block;
                        font-family: "Font Awesome 5 Free";
                        padding: 0px 10px 0px;
                        color: #6c757d;
                        content: "\f095";
                        /* font-family: "Font Awesome 5 Free"; */
                        font-weight: 900;
                        content: "";
                    }
                    a{
                        color:#A55971;
                    }
                }
                .active{
                    &::after{
                        display: none;
                    }
                }
            }
        }
        .row{
            .col-content-left{
                .col-content-left-top{
                    background-color: #fff;
                    padding: 50px 20px;
                    .title-main{
                        font-size: 150%;
                    }
                    .skills{
                        b{
                            font-size: 120%;
                            font-weight: 500;
                        }
                        span{
                            color:#007fed;
                            font-size: 110%;
                        }
                    }
                    .title-rent{
                        margin-bottom: 10px;
                        b{
                            font-size: 120%;
                            font-weight: 500;
                        }
                    }
                    .rent-bottom{
                        p{
                            margin: 0px;
                        }
                        .custom-zero{
                            padding:1px 3px;
                            background-color: #dedede;
                            color: #fff;
                            font-size: 110%;
                            border-radius: 3px;
                            font-weight: 500;
                        }
                        .star{
                            color: #dedede;
                        }
                        .comment{
                            font-size: 110%;
                            font-weight: 500;
                        }
                        .vietnam-flag{
                            width: 3%;
                            padding-bottom: 5px;
                            img{
                                width: 100%;
                            }
                        }
                        .country{
                            font-weight: 500;
                        }
                        .icon-interact{
                            div{
                                width: 17%;
                                padding-right: 15px;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .id-project{
                        font-size: 120%;
                        b{
                            font-weight: 500;
                        }
                    }
                    hr{   
                        margin-top: 50px;
                    }
                    .ten-day{
                        width: 60%;
                        font-size: 165%;
                        /* margin: 0px; */
                        line-height: 35px;
                        font-weight: 600;
                    }
                    .content-form{
                        .form-content{
                            display: flex;
                            width: 100%;
                            .form-group{
                                width: 40%;
                                margin: 0px;
                                label{
                                    font-weight: 500;
                                }
                            }
                            .form-group2{
                                width: 30%;
                                label{
                                    font-weight: 500;
                                }
                            }
                            .button-submit{
                                width: 30%;
                                .button-chao-gia{
                                    border: unset;
                                    background-color: #FF3F53;
                                    width: 100%;
                                    padding: 3px 0px;
                                    margin-bottom: 8px;
                                    color: #fff;
                                    font-size: 130%;
                                    font-weight: 500;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
                .col-content-left-bottom{
                    margin-top: 50px;
                    background-color: #fff;
                    padding: 50px 20px;
                    .title-main{
                        font-size: 170%;
                        font-weight: 700;
                    }
                    .comment-candidate{
                        padding: 20px;
                        .comment-detail{
                            display: flex;
                            .comment-detail-left{
                                width: 65%;
                                display: flex;
                                .comment-img{
                                    width: 30%;
                                    margin-right: 20px;
                                    img{
                                        width: 100%;
                                        height: 110px;
                                        object-fit: cover;
                                    }
                                }
                                .comment-text{
                                    width: 70%;
                                    .comment-name{
                                        font-size: 159%;
                                        font-weight: 500;
                                    }
                                    .comment-description{
                                        font-size: 110%;
                                        font-weight: 450;
                                    }
                                    a{
                                        text-decoration: none;
                                        font-size: 110%;
                                    }
                                }
                            }
                            .comment-detail-right{
                                .salary{
                                    font-size: 110%;
                                }
                                .custom-zero-star{
                                    display: flex;
                                    .custom-zero{
                                        margin: 0;
                                        padding:1px 3px;
                                        background-color: #FF7B00;
                                        color: #fff;
                                        font-size: 110%;
                                        border-radius: 3px;
                                        font-weight: 500;
                                    }
                                    .star{
                                        color: #FF7B00;
                                        .checked{
                                            background: linear-gradient(to right, #FF7B00 50%, #dedede 50%);
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                        }
                                    }
                                }
                                .custom-number-rectangle{
                                    display: flex;
                                    p{
                                        margin: 0px;
                                    }
                                    .custom-number{
                                        font-size: 110%;
                                        font-weight: 500;
                                    }
                                    .dolar{
                                        color: #5dc26a;
                                    }
                                    .rectangle{
                                        color: #5dc26a;
                                        font-size: 82%;
                                        .checked{
                                            background: linear-gradient(to right, #5dc26a 50%, #dedede 50%);
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                        }
                                        .un-checked{
                                            color: #dedede;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .col-content-right{
                .similar-project{
                    border: 2px solid #e2e2e2;
                    box-shadow: inset 0px 15px 20px #ffff;
                    p{
                        text-align: center;
                        margin: 0;
                        padding: 5px 0px;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
                .before-after{
                    a{
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }
    .content-logo{
        position: absolute;
        right: 10px;
        top: 10%;
        .img-logo{
            width: 100%;
        }
        .icon-content{
            text-align: center;
            a{
                color: #A55971;
                display: block;
                padding: 10px 0px;
                font-size: 140%;
            }
        }
        .language{
            p{
                transform: rotate(-90deg);
                .vni{
                    color: #A55971;
                    font-size: 120%;
                    text-transform: uppercase;
                }
                .eng{
                    text-transform: uppercase;
                    font-size: 120%;
                    color: #5b5b5f;
                }
            }
        }
        .sign-in{
            padding-top: 110px;
            p{
                transform: rotate(-90deg);
                background-image: linear-gradient(to right, #db3779, #31446d);
                text-align: center;
                padding: 8px 0px;
                margin: 0px;
                border-radius: 5px;
                a{
                    color: #fff;
                    font-size: 110%;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }
}

