@charset "UTF-8";
header {
  background-color: #db3779;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #db3779, #31446d);
  color: #fff;
  padding: 5px 0px; }
  header .container-header .header-main {
    display: flex; }
    header .container-header .header-main .header-left {
      width: 60%;
      display: flex; }
      header .container-header .header-main .header-left .categories-dropdown {
        text-transform: uppercase;
        font-size: 120%;
        font-weight: 300; }
      header .container-header .header-main .header-left .dropdown-menu {
        margin: 0px;
        padding: 0px; }
        header .container-header .header-main .header-left .dropdown-menu .btn-dropdown {
          padding: 5px 100px 5px 40px;
          border-bottom: 1px solid #f0f0f0; }
        header .container-header .header-main .header-left .dropdown-menu #grad-seemore {
          background-color: #925970;
          /* For browsers that do not support gradients */
          background-image: linear-gradient(to right, #db3779, #31446d);
          color: white;
          font-size: 1.1rem;
          text-align: center;
          padding: 8px 0px;
          margin: 25px 0px 5px;
          font-weight: 300;
          text-transform: uppercase; }
          header .container-header .header-main .header-left .dropdown-menu #grad-seemore i {
            color: #AB5971; }
    header .container-header .header-main .header-right {
      width: 40%;
      float: right; }
      header .container-header .header-main .header-right .header-right-dropdown {
        display: inline; }
        header .container-header .header-main .header-right .header-right-dropdown .categories-dropdown {
          text-transform: uppercase;
          font-size: 120%;
          font-weight: 300;
          color: #fff; }

.content {
  background-color: #F4F4F4;
  padding: 0px 0px 300px;
  position: relative; }
  .content .desgin-standy {
    background-image: linear-gradient(to right, #31446d 25%, #db3779);
    margin-bottom: 30px; }
    .content .desgin-standy .container-design-standy {
      padding: 30px 0px 15px; }
      .content .desgin-standy .container-design-standy .desgin-standy-left p {
        font-size: 200%;
        font-weight: bold;
        color: #fff;
        margin: 0px; }
      .content .desgin-standy .container-design-standy .desgin-standy-right {
        position: relative; }
        .content .desgin-standy .container-design-standy .desgin-standy-right .desgin-standy-right-normal {
          font-size: 120%;
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          margin: 0px; }
          .content .desgin-standy .container-design-standy .desgin-standy-right .desgin-standy-right-normal span {
            font-size: 150%; }
        .content .desgin-standy .container-design-standy .desgin-standy-right .desgin-standy-right-absolute {
          position: absolute;
          top: -15px;
          right: 0;
          background-color: #003F8B;
          border-radius: 50px;
          padding: 0px 10px;
          color: #fff;
          font-weight: bold;
          font-size: 15px; }
  .content .container .breadcrumb-main .breadcrumb {
    padding: 0px;
    background-color: unset; }
    .content .container .breadcrumb-main .breadcrumb .breadcrumb-item::before {
      display: none; }
    .content .container .breadcrumb-main .breadcrumb .breadcrumb-item::after {
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      padding: 0px 10px 0px;
      color: #6c757d;
      content: "\f095";
      /* font-family: "Font Awesome 5 Free"; */
      font-weight: 900;
      content: ""; }
    .content .container .breadcrumb-main .breadcrumb .breadcrumb-item a {
      color: #A55971; }
    .content .container .breadcrumb-main .breadcrumb .active::after {
      display: none; }
  .content .container .row .col-content-left .col-content-left-top {
    background-color: #fff;
    padding: 50px 20px; }
    .content .container .row .col-content-left .col-content-left-top .title-main {
      font-size: 150%; }
    .content .container .row .col-content-left .col-content-left-top .skills b {
      font-size: 120%;
      font-weight: 500; }
    .content .container .row .col-content-left .col-content-left-top .skills span {
      color: #007fed;
      font-size: 110%; }
    .content .container .row .col-content-left .col-content-left-top .title-rent {
      margin-bottom: 10px; }
      .content .container .row .col-content-left .col-content-left-top .title-rent b {
        font-size: 120%;
        font-weight: 500; }
    .content .container .row .col-content-left .col-content-left-top .rent-bottom p {
      margin: 0px; }
    .content .container .row .col-content-left .col-content-left-top .rent-bottom .custom-zero {
      padding: 1px 3px;
      background-color: #dedede;
      color: #fff;
      font-size: 110%;
      border-radius: 3px;
      font-weight: 500; }
    .content .container .row .col-content-left .col-content-left-top .rent-bottom .star {
      color: #dedede; }
    .content .container .row .col-content-left .col-content-left-top .rent-bottom .comment {
      font-size: 110%;
      font-weight: 500; }
    .content .container .row .col-content-left .col-content-left-top .rent-bottom .vietnam-flag {
      width: 3%;
      padding-bottom: 5px; }
      .content .container .row .col-content-left .col-content-left-top .rent-bottom .vietnam-flag img {
        width: 100%; }
    .content .container .row .col-content-left .col-content-left-top .rent-bottom .country {
      font-weight: 500; }
    .content .container .row .col-content-left .col-content-left-top .rent-bottom .icon-interact div {
      width: 17%;
      padding-right: 15px; }
      .content .container .row .col-content-left .col-content-left-top .rent-bottom .icon-interact div img {
        width: 100%; }
    .content .container .row .col-content-left .col-content-left-top .id-project {
      font-size: 120%; }
      .content .container .row .col-content-left .col-content-left-top .id-project b {
        font-weight: 500; }
    .content .container .row .col-content-left .col-content-left-top hr {
      margin-top: 50px; }
    .content .container .row .col-content-left .col-content-left-top .ten-day {
      width: 60%;
      font-size: 165%;
      /* margin: 0px; */
      line-height: 35px;
      font-weight: 600; }
    .content .container .row .col-content-left .col-content-left-top .content-form .form-content {
      display: flex;
      width: 100%; }
      .content .container .row .col-content-left .col-content-left-top .content-form .form-content .form-group {
        width: 40%;
        margin: 0px; }
        .content .container .row .col-content-left .col-content-left-top .content-form .form-content .form-group label {
          font-weight: 500; }
      .content .container .row .col-content-left .col-content-left-top .content-form .form-content .form-group2 {
        width: 30%; }
        .content .container .row .col-content-left .col-content-left-top .content-form .form-content .form-group2 label {
          font-weight: 500; }
      .content .container .row .col-content-left .col-content-left-top .content-form .form-content .button-submit {
        width: 30%; }
        .content .container .row .col-content-left .col-content-left-top .content-form .form-content .button-submit .button-chao-gia {
          border: unset;
          background-color: #FF3F53;
          width: 100%;
          padding: 3px 0px;
          margin-bottom: 8px;
          color: #fff;
          font-size: 130%;
          font-weight: 500;
          border-radius: 5px; }
  .content .container .row .col-content-left .col-content-left-bottom {
    margin-top: 50px;
    background-color: #fff;
    padding: 50px 20px; }
    .content .container .row .col-content-left .col-content-left-bottom .title-main {
      font-size: 170%;
      font-weight: 700; }
    .content .container .row .col-content-left .col-content-left-bottom .comment-candidate {
      padding: 20px; }
      .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail {
        display: flex; }
        .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-left {
          width: 65%;
          display: flex; }
          .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-left .comment-img {
            width: 30%;
            margin-right: 20px; }
            .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-left .comment-img img {
              width: 100%;
              height: 110px;
              object-fit: cover; }
          .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-left .comment-text {
            width: 70%; }
            .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-left .comment-text .comment-name {
              font-size: 159%;
              font-weight: 500; }
            .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-left .comment-text .comment-description {
              font-size: 110%;
              font-weight: 450; }
            .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-left .comment-text a {
              text-decoration: none;
              font-size: 110%; }
        .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .salary {
          font-size: 110%; }
        .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-zero-star {
          display: flex; }
          .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-zero-star .custom-zero {
            margin: 0;
            padding: 1px 3px;
            background-color: #FF7B00;
            color: #fff;
            font-size: 110%;
            border-radius: 3px;
            font-weight: 500; }
          .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-zero-star .star {
            color: #FF7B00; }
            .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-zero-star .star .checked {
              background: linear-gradient(to right, #FF7B00 50%, #dedede 50%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent; }
        .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-number-rectangle {
          display: flex; }
          .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-number-rectangle p {
            margin: 0px; }
          .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-number-rectangle .custom-number {
            font-size: 110%;
            font-weight: 500; }
          .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-number-rectangle .dolar {
            color: #5dc26a; }
          .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-number-rectangle .rectangle {
            color: #5dc26a;
            font-size: 82%; }
            .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-number-rectangle .rectangle .checked {
              background: linear-gradient(to right, #5dc26a 50%, #dedede 50%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent; }
            .content .container .row .col-content-left .col-content-left-bottom .comment-candidate .comment-detail .comment-detail-right .custom-number-rectangle .rectangle .un-checked {
              color: #dedede; }
  .content .container .row .col-content-right .similar-project {
    border: 2px solid #e2e2e2;
    box-shadow: inset 0px 15px 20px #ffff; }
    .content .container .row .col-content-right .similar-project p {
      text-align: center;
      margin: 0;
      padding: 5px 0px;
      font-size: 18px;
      font-weight: 700; }
  .content .container .row .col-content-right .before-after a {
    text-decoration: none;
    color: #000; }
  .content .content-logo {
    position: absolute;
    right: 10px;
    top: 10%; }
    .content .content-logo .img-logo {
      width: 100%; }
    .content .content-logo .icon-content {
      text-align: center; }
      .content .content-logo .icon-content a {
        color: #A55971;
        display: block;
        padding: 10px 0px;
        font-size: 140%; }
    .content .content-logo .language p {
      transform: rotate(-90deg); }
      .content .content-logo .language p .vni {
        color: #A55971;
        font-size: 120%;
        text-transform: uppercase; }
      .content .content-logo .language p .eng {
        text-transform: uppercase;
        font-size: 120%;
        color: #5b5b5f; }
    .content .content-logo .sign-in {
      padding-top: 110px; }
      .content .content-logo .sign-in p {
        transform: rotate(-90deg);
        background-image: linear-gradient(to right, #db3779, #31446d);
        text-align: center;
        padding: 8px 0px;
        margin: 0px;
        border-radius: 5px; }
        .content .content-logo .sign-in p a {
          color: #fff;
          font-size: 110%;
          font-weight: 500;
          text-decoration: none; }

/*# sourceMappingURL=standy.css.map */
